
/* shadowEfect */
.shadowEffect{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
   }
  
.shadowEffect:hover{
    position: relative;
    right: 1px;
    box-shadow: rgba(100, 98, 98, 0.56) 5px 5px 15px 5px !important;
   }


   /* shadowEfect */
.shadowEffect1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
   }
  
.shadowEffect1:hover{
    box-shadow: rgba(100, 98, 98, 0.56) 5px 5px 15px 5px !important;
   }



   /*button shadowEfect */
.buttonShadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
   }


/* inputbox */

.CMN_InputBox{
    border: solid 1px black;
    border-radius: 4px;
    padding: 2px;
  }

.CMN_InputBox input{
    border: none !important;
  }



  /* Auto search */
 .OptionBox{
    position: absolute;
    border: solid 1px #979797;
    border-radius: 6px;
    width: 100%;
    top: 3rem; 
    right: 1px;
    background-color: white;
    z-index: 7;
    max-height: 18rem;
    overflow-y: auto;
   }
   .OptionBox_item{
    padding: 5px;
    border: solid 1px  #97979742;
    cursor: pointer;
   }
  
   .OptionBox_item:hover{ 
    border: solid 1px  #857f7f; 
   }
  
   .optionImg {
    width: 2rem;
    margin: 0 !important;
  }

  .autoSearchLoader{
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
  }


  .CategorySearchLoader{
    display: flex;
    position: absolute;
    top: 10px;
    left: 5px;
  }


/* Font */
  
#FS1{
    font-size: 10px !important;
  }
  #FS2{
    padding: 0px !important;
    margin: 0px !important;
    font-size: 12px !important;
  }
  #FS3{
    font-size: 14px !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  #FS4{  padding: 0px !important;
    margin: 0px !important;
    font-size: 16px !important;
  }
  #FS5{  padding: 0px !important;
    margin: 0px !important;
    font-size: 18px !important;
  }
  #FS6{  padding: 0px !important;
    margin: 0px !important;
    font-size: 20px !important;
  }
  
  #FS6{  padding: 0px !important;
    margin: 0px !important;
    font-size: 20px !important;
  }
  #FS7{  padding: 0px !important;
    margin: 0px !important;
    font-size: 22px !important;
  }
  #FS8{  padding: 0px !important;
    margin: 0px !important;
    font-size: 24px !important;
  }
  #FS9{  padding: 0px !important;
    margin: 0px !important;
    font-size: 26px !important;
  }
  #FS10{  padding: 0px !important;
    margin: 0px !important;
    font-size: 28px !important;
  }
  #FS11{  padding: 0px !important;
    margin: 0px !important;
    font-size: 30px !important;
  }
  #FS12{  padding: 0px !important;
    margin: 0px !important;
    font-size: 32px !important;
  }

  .singleLineContent{
    width: 100% !important;
    overflow: hidden;
    word-break: break-all !important;
    white-space: break-spaces !important;
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
  }

  .BreadCreumTitle{
    text-transform: capitalize !important;
    cursor: pointer;
  }
  .BreadCreumBox{
    display: flex;
  }
  .BreadCreumBox a{
    text-decoration: none;
    color: black;
  }
  .FW5{
    font-weight: 500 !important;
  }
  .FW3{
    font-weight: 300 !important;
  }
  @media screen and (max-width:500px) {
    #FS10{ 
        font-size: 22px !important;
      } 


      #FS8{  
        font-size: 18px !important;
      }

  }



  
  @media screen and (max-width:400px) {
    #FS10{ 
        font-size: 20px !important;
      } 


      #FS8{  padding: 0px !important;
        margin: 0px !important;
        font-size: 16px !important;
      }

  }