/* temp */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.toggle-sidebar{
  display: none !important;
}
#root{
  max-width: 2000px !important;
  margin: auto;
  font-family: Poppins;
}

.customizer-links{
  display: none;
}

/* Header */

.ContentBox{
  width:100% !important ;padding: 0.5rem !important
}
.page-body{
  background-color: white !important;
}

.page-wrapper.advance-layout .page-header {
  position: sticky !important;
}
.cateIcon{
  width: 50px !important;
  aspect-ratio: 1;
}
.cateIconBox{
  width: 100% !important;
  padding: 1rem;
  border: solid 1px #c3c3c3;
  border-radius: 12px;    aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cateIconBox:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.catCard{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rs-carousel-slider img{
  height: 100% !important;
}
.catCard #FS3{  
    overflow: hidden; 
    word-break: break-all !important;
    white-space: break-spaces !important; 
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical; 
  
}

.catContainer{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 3vw;
}
.catBox{
  width: 100%;
  text-align: center;
  
}

.catImgBox{
  width: 12rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cateIcon2{

width: 90%; 
}
.catCard2{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.catBox2{
  width: 10rem;
}

.catContainer2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border: 1px solid#ccc;
  border-radius: 1rem;
  padding: 2rem;
}
.ContentCenter{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.TrendingsContainer{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr  1fr 1fr;
  align-items: center;

  gap: 1rem;
} 
.SeviceContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  border-radius: 1rem;     gap: 1rem;
}
.MediaContainer{
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
  border-radius: 1rem;     gap: 1rem;
}
.TIcon{
  width: 8rem;
}
.TImgBox{

}
.hideSearchbarOnDesktop{
  display: none !important;
}
.TCard{
  display: flex;
}
.TBox{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 15px;
  display: flex;justify-content: center;align-items: center;
   
}
.TBox:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.TBox-right{
  display: flex;
  flex-direction: column;
}
.TR-info{
  display: flex;
  flex-direction: column;
}
.BoldText{
  font-weight: bold !important;
}
 
.T-number{
  display: flex;
  gap: 0.2rem;
}

.T-number div{
  padding: 2px 2px; 
   font-size: 13px;
}

.cursorPointer{
  cursor: pointer;
} 

.linksContainer{
  display: flex;
  flex-wrap: wrap; 
}

.footerComponentBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  gap: 3rem;
}


.cartoon img{
  width: 12rem;
  position: relative;
  bottom: 1rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  background-color: #0c1b1b;
}

/* banner */
.sliderImg{
  width: 100%;
}
.footerContainer{
  background-color: #edf8ff;
    padding: 2rem;
    border-radius: 15px;
}
 .trandCardBox{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #F8F8F8 !important;

 }



 

.trandImgBox img{ 
  width: 100%;
  min-width: 15rem !important;
  border-radius: 1rem;
}

.trandBody{
  width: 100%;
}
.w-90{
  width: 90% !important;
}
.top-courosel{
  width: 40% !important;

}
.top-bar{
  display: flex !important; 
  justify-content: space-between;
}
.top-img{
  width: 50% !important;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;  
}
.bannerImg {
  position: relative;
  
}
.bannerImg img{
  width: 100%;
  border-radius: 1rem;

} 
.bannerImg:hover img{
  position: absolute;
  width: 102%;
  bottom: 1px;
  right: 1px; 
}
.bannerImg:hover .b_title{
  font-size: 18px;
}
.banner-photo{ 
position: absolute;
top: 10%;
left: 5%;
color: white;
}
.Explores_Box .e_icon{
  font-size: 40px;
  line-height: 1;
  font-weight: 500; 
}
.e_title{
  display: none;

}
.Explores_Box{
  display: flex;
  align-items: center;
}
.bannerImg:hover .banner-Explores{ 
  background-color: rgb(255, 255, 255);

}
.bannerImg:hover  .e_title{
display: inline;   
}

.bannerImg:hover .e_icon{
  display: contents; 
  }

.banner-Explores{ 
  position: absolute;
  bottom: 10%; 
  color: rgb(8, 3, 3);    
  background-color: white;
  }

.banner-photo .b_title{
  font-weight: 900;
}
.banner-photo .b_desc{
  
}
.top-bar .bannerImg{
  border-radius: 1rem;
  width: 11.5%!important;
}
.top-img img,
.top-courosel div,
.top-courosel img{
  border-radius: 1rem;
}

.custom-slider {
  background-color: rgba(12, 27, 27, 0);
}

.rs-carousel{
  height: auto !important
}


.AutoCompleteBox{
  position: relative;
  width: 20rem;
  display: flex;
  border: solid 2px #958989;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 2.5rem;
}
.AutoCompleteBoxSearch{
  position: relative;
  width: 15rem;
  display: flex;
  border: solid 1px #958989;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.AutoCompleteBox .ant-select-selector{
  /* height: 43px !important; */
}
.AutoCompleteBox .ant-select-selection-search{
  display: flex;
  align-items: center;
} 
.AutoCompleteBox .ant-select-selector{ 
  border: none !important;
  outline: none !important;    
  border: none !important;
}
 .selectorIcon{
  position: relative;
  top: 8px;
 }

 .SearchIconBox{
  position: absolute; 
  bottom: -30px;
  right: -8px;
  background: #ff793b;
  border-radius: 4px;
  padding: 4px;
  display: flex;
 }

 .propertyList{

 }
/* .ant-select:focus-visible{  
  outline: none !important;    border: none !important;
} 
.ant-select-auto-complete:focus-visible{  
  outline: none !important;    border: none !important;
} 
.css-dev-only-do-not-override-nllxry:focus-visible{  
  outline: none !important;    border: none !important;
} 
.ant-select-single:focus-visible{  
  outline: none !important;    border: none !important;
} 
.ant-select-show-search:focus-visible{  
  outline: none !important;    border: none !important;
}
.AutoCompleteBox .ant-select-selection-search:focus-visible{  
    outline: none !important;    border: none !important;
}

.AutoCompleteBox input{  
  outline: none !important;  
  border: none !important;
} */
.ant-select-selector {
  box-shadow: none !important;
}

.react-icon-common{
  color: black;
    font-size: 20px;
}
.slick-active,.slick-current,
.slick-track{
  width: fit-content !important;
}

.productRate{
  display: flex;
  align-items: center;
  gap: 10px;
}
.productRate p{
width: fit-content !important;
}
.servicePage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.w-80{
  width: 80% !important;
}

.w-20{
  width: 20% !important;
}
.s_sidebar{ 
  width: 20% !important;
}
.s_content{
  width: 80% !important;


}

.cds_content{
  width: 100% !important;

}
.h-2{
 height: 2rem !important;

} 
.cm_Box{
  border: solid 1px #dddddd !important;
    border-radius: 8px;
    background-color: #f8f8f8;
}
.searchAcross{
  position: relative;
  bottom: 11px;
  padding-right: 1rem;

}

#FS1{
  font-size: 10px !important;
}
#FS2{
  padding: 0px !important;
  margin: 0px !important;
  font-size: 12px !important;
}
#FS3{
  font-size: 14px !important;
  padding: 0px !important;
  margin: 0px !important;
}
#FS4{  padding: 0px !important;
  margin: 0px !important;
  font-size: 16px !important;
}
#FS5{  padding: 0px !important;
  margin: 0px !important;
  font-size: 18px !important;
}
#FS6{  padding: 0px !important;
  margin: 0px !important;
  font-size: 20px !important;
}

#FS6{  padding: 0px !important;
  margin: 0px !important;
  font-size: 20px !important;
}
#FS7{  padding: 0px !important;
  margin: 0px !important;
  font-size: 22px !important;
}
#FS8{  padding: 0px !important;
  margin: 0px !important;
  font-size: 24px !important;
}
#FS9{  padding: 0px !important;
  margin: 0px !important;
  font-size: 26px !important;
}
#FS10{  padding: 0px !important;
  margin: 0px !important;
  font-size: 28px !important;
}
#FS11{  padding: 0px !important;
  margin: 0px !important;
  font-size: 30px !important;
}
#FS12{  padding: 0px !important;
  margin: 0px !important;
  font-size: 32px !important;
}
.RentalzoneIn{
  padding-right: 2rem;
}
.searchHeadline{

  display: flex !important;
}
.SearchBar{
  display: flex;
  gap: 0.5rem;

}

.searchHeadBx{ 
  padding: 0 1rem !important;
background-color: #ffffff;
}
/*  Servise */

.serviceImgBox{ 
  width: 15%;
  position: relative;
}
.price_box{
  width: 80%;
  position: absolute;
  top: 65%;
  left: 10%;
  text-align: center;
  background-color: #ffffffc7;
  border-radius: 8px; 

}

.price_box #FS6{
font-size: 1vw !important;

}
.price_box #FS3{
  font-size: 0.8vw !important;
  
  }

.tc-price_box{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;


}
.price_box_responsive{

  width: 80%; 
  text-align: center;
  background-color: #ffffffc7;
  border-radius: 8px; 
  display: none;
  gap: 5px;
}
.priceContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.interval{}
.priceNm{
  color: #FF7D18;
}
.startFrom{
  color: #797979;
  font-weight: 400;
  font-weight: bolder;
}
.cd-serviceImgBox{ 
  width: 20%;
}
.serviceImgBox img{ 
  width: 100% !important;
  padding: 10px;
}
.cd-serviceImgBox img{ 
  width: 90% !important;
  padding: 10px 10px 50px 10px;
}
.serviceBody{
  width: 85%;
  display: flex;
  position: relative;
  padding-left: 1rem;
}

.cat_details_Body{
  width: 80%;
  display: flex;
  position: relative;
  padding: 1rem;
}

.s_catTitle{
  padding-bottom: 0.5rem;
  color: #3A3A3A; 
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
font-weight: 600;
}
.catBox a{
  text-decoration: none;
  color: black;
}
.s_cat{
  color: #3A3A3A; 
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 5px;
}

.cd_link {
  color: #3A3A3A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid #979797;
  width: 100%;
}
.s_catTitleBox{
  border-radius: 1rem;
  background-color: #efefef;
  padding: 1rem;  
}

.all_category{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 5px;

}


.all_cd_link{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 5px;

}

.cd_links_group{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 5px;
  gap: 1rem;

}
.cat-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sc-number{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.s_form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.s_form .input{
  border: solid 1px #939393;
  border-radius: 5px;
  padding: 2px;
}
.s_form input{
  border:  none;
  width:100%
}
.s_form .btn {
   background-color: #0085BE !important;
}
.sc_cardBoxPerent{
  display: flex;
  flex-direction: column;
  border: solid 1px #dddddd !important;
  border-radius: 8px;
  background-color: #ffffff;
  width: 100%;

}
.btn-light{
  background-color: white !important;
}
.sp_button_box .btn{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.sc_cardBox{
  display: flex;
  /* border: solid 1px #dddddd !important; */
  border-radius: 8px;
  background-color: #ffffff;
  width: 100%;

}
 
.sc_cardBoxLeft{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;

}

.cd_cardBoxLeft{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;

}

.sc_cardBoxRight{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sp_button_box{
  display: none;
}
.greenRateBox{
  background-color: #058A07;
  color: white;
  padding: 0 8px;
  border-radius: 4px;
}
.rStar .media{
  width: 24px !important;
}

.searchModelBox{
  display: none !important;
}
.sp_category{
  background-color: white;
    border: 1px solid #ddd1d1;
    border-radius: 5px;
    width: fit-content;
    padding: 0 8px;
    color: #443838;
    margin-right:  2px;
}

.sp_category2{
 display: none !important;
}
.sp_card_box .btn{

  margin: 0 1rem 0 0;
  padding: 1px 9px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;

}
.bottonHover:hover{
  filter: brightness(1.1);
}
.sp_card_box .callNow{
 background-color: #058A07 !important;
}


.sp_card_box .getQots{
  background-color: #0085BE !important;
 }


 .cd_card_box.btn{
  padding: 1px 9px;
  border-radius: 3px;
}
 

.cd_card_box .getQots{
  background-color: #0085BE !important;
 }
 .sp_cat_list{
  display: flex;
  gap: 7px; 
    flex-wrap: wrap;
 }


 .green_text{
  color: #058A07 ;

 }
 .likeUnlike{
  width: fit-content;
    padding: 5px 8px;
    border: solid 1px #dad3d3;
    border-radius: 4px;
    background-color: white;    position: absolute;
    top: 1rem;
    right: 1rem;

 }

 .Popular img{
  position: absolute;
  bottom: 0;
  right: 0;
 }
 .chartBox{
  position: relative;
  bottom: 4px;
 }

 .chartBox img{
  width: 20px;
 }
 .right_bottom{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
 }

 .right_bottom #F2{
  padding-right:  1rem !important;
 }


 .leftside_right_bottom{
  display: none;
 }
 .sc_linkBox{
  display: grid;
  grid-template-columns: 1fr ;
  gap: 2rem;
 }
 .cd_linkBox{
  display: grid;
  grid-template-columns: 1fr ;
  gap: 2rem;
 }
 .nav-right .header-search{
  display:none !important;
}
 .searchModelBox{
  height: 100% !important;
  max-width: 100% !important;
  margin: 0 !important; 
 }

 .searchModelBox .modal-content{
  height: 100% !important;
 }

 .SearchBar2 {
  display: none !important;
}
 .jointButton .btn{
  padding: 1px 9px;
  border-radius: 3px;width: max-content;
 }

 .searchInboxContainer{
  width: 100%; 
 }
 .backIcon{
  font-size: 25px;
    transform: rotate(90deg);
 }
 .locationDrop{
  transform: rotate(180deg);
 }
 .searchInbox{
  width: 100%;
    border: none;
 }
 .serchElement{
  display: flex;
    justify-content: space-between;
 }
 .bestDeal{ 
    background-color: #0085BE !important;
    color: #ffffff !important;
 
 }
 .cd_card_box,
 .sp_card_box,
 .cd-address{ 
  display: flex!important;
  flex-wrap: wrap;
  gap: 2px;
 }
 .cd_card_box,
 .lakeVideo  {
  position: relative;
 }
 .lakeVideo .play{  
    position: absolute;
    top: 30%;
    right: 42%; 
 }

 .serviceImgBox2{
  display: none;
}

.callNow img{
  width: 25px !important;
}

.gq-formKey{
  display: flex;
  gap: 6rem;
}
.quoteInputBox{
  border: solid 1px black;
  border-radius: 4px;
  padding: 1px;
}

.gq-formKey .title{
  width: 30%;
}

.gq-formKey .rightInput{
  width: 70%;
}

.gq-fieldBox{
  display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.rightInput select{
  word-wrap: normal;
  width: 100%;
  height: 2.2rem;
}

.rightInput select:focus{
  outline-color:#0c1b1b
}

.rightInput input{
width: 100%;
}
.gqcatChecklist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid 1px;
  max-height: 6rem;
  padding: 10px;
  overflow-y: auto;
}
 
.gqcheckCtg{}
.gqcheckInput{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
}
.gq-model{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  z-index: 10;
  position: relative !important; 
}

.gq-model-content {
position: relative !important;
}

.gq-model-content img{ 
  width: 100%; 
  }

 .chatModelContent .chat-history{
  height: 20rem;
  min-height: 20rem;
  overflow-y: auto;
 }

 .chatModelContent .pull-right,
 .chatModelContent .my-message{
width: 70%;
padding: 1rem 0;
 }

 .chatModelContent .pull-right{
  background-color: #9192f2;
  border-radius: 1rem 0 1rem 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
 }
 .chatModelContent .my-message{    background-color: #9191a6;
  border-radius: 0 1rem 1rem 1rem;
  padding: 1rem;
  margin-bottom: 1rem;}

  .chatModelContent .smiley-box{
    width: 2.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 @media screen and (max-width:1700px) {
  .sc_cardBoxRight{
    width: 30% !important
  }
  .sc_cardBoxLeft{
    width: 70% !important;
  }

  .cd_cardBoxLeft{
    width: 70% !important;
  }
 }
 
@media screen and (max-width:1500px) {
  /* .nav-right{
  margin-top: 2rem !important;
  }  */
  .catContainer{ 
    gap: 3vw;
  }
}
.cateIcon{
  width: 90% !important;
}
 
@media screen and (max-width:1200px) {
  .price_box {
    background-color: #fff9f9;
  }
  .price_box #FS6{
    font-size: 20px !important;
    
    }
    .price_box #FS3{
      font-size: 14px !important;
      
      }

  .catContainer{ 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;   
  } 
  .top-courosel{
    width: 100% !important;
    padding-bottom: 1rem;
  }
 
  .top-img{
    width: 100% !important; 
  }

  .TrendingsContainer{ 
    grid-template-columns: 1fr 1fr; 
  }
  .top-bar{
    display: none !important;
  }
  .cateIcon{
    width: 80% !important;
  }
  .catBox {
    width: 100%; 
  }
 
  .searchHeadline{
    display: none !important;
  }
  .AutoCompleteBox{
    width: 16rem;
  } 

  .leftside_right_bottom{
    display: contents;
   }
  
   .right_bottom{
    display: none;
   }
.serviceImgBox{
  width: 30%;
}

.cd-serviceImgBox{
  width: 30%;
}
   .serviceBody{
    width: 70%;
   }

   .cat_details_Body{
    width: 100%;
   }
  }

  @media screen and (max-width:900px) { 
    .s_sidebar{ width: 100% !important;}
    .s_content{
      width: 100% !important;
    }

    .sc_linkBox{ 
      grid-template-columns: 1fr 1fr; 
     }

     
  }
  @media screen and (max-width:800px) { 
    .hideSearchbarOnDesktop{
      display: flex !important;
    }
    .catContainer{ 
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;   
      gap:4vw
    } 
    .cat_details_Body .un,
    .serviceBody .un{
      display: none !important;
    } 
    .card{
      position: relative;
    }
    .searchHeadBx{ 
      position: fixed !important;
      width: -webkit-fill-available;
      z-index: 10; 
    }
    .sc_cardBoxRight
    {
      display: none;
    }
    .sc_cardBoxLeft{
      width: 100% !important;
      gap:1px !important
    }

    .cd_cardBoxLeft{
      width: 100% !important;
      gap:1rem !important
    }

    .sp_card_box .btn-light,
    .sp_card_box .callNow{
      display: none !important;
    }

    .cd_card_box{
      justify-content: space-between !important;
    }
    .sc_cardBoxLeft #FS3{
      font-size: 10px !important;}

      .sc_cardBoxLeft #FS3,
    .sc_cardBoxLeft #FS6{
      font-size: 14px !important; 
      overflow: hidden; 
      word-break: break-all !important;
      white-space: break-spaces !important;
  
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Set to the number of lines you want */
      -webkit-box-orient: vertical;

    }
 
  
 

.sp_category{
  display: none !important;
}

.sp_category2 #FS3 {
  width: 100% !important;  
  overflow: hidden; 
  word-break: break-all !important;
  white-space: break-spaces !important; 
  display: -webkit-box;
  -webkit-line-clamp: 1;  
  -webkit-box-orient: vertical;
}
  .sp_category2 {
    display: inline !important;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0;
    color: #443838;
    margin-right: 0px;
}
    .sp_button_box{
      display: flex !important;
      justify-content: space-between;
      padding: 10px;
      gap:1px
  
    }
    .sp_button_box #FS3{font-size: 10px !important;}
    .sp_button_box .btn{
      width: 26%;
      height: max-content;
      padding: 5px 9px;
      /* border-radius: 7px;
      border: solid 2px #dddddd  !important;  */
    }
    .sp_button_box .btn:hover{ 
      /* border: solid 2px #8d8d8d8d  !important;   */
    }
    .sp_button_box .star{
      background-color: #0085BE !important;
      border-color:  #0085BE !important;
      width: 37% !important; 
    }

    .sp_button_box .btn-success{
      background-color: #058A07 !important;
      border-color:  #058A07 !important;
    }
.Popular{
  display: none;
}
.cd_button_box img{
  width: 20px !important; 
}


.cd_button_box .btn{
  padding: 0 !important;
} 
    .sp_button_box .callNow{
     background-color: #058A07 !important;
    }
    .cd-serviceImgBox{
      display: none;
    }
    .serviceBody{
      width:70%
    }

    /* .left-header .SearchBar{
      display: none;
    } */

    .nav-right .header-search{
      display:inline !important;
    }


    /* .card .searchHeadBx{
      display: none !important;
    } */

    .price_box{
      width: 100%;
      top: 60%; 
    left: 0;
    }

    .price_box_responsive #FS6{
      font-size: 10px !important;
      font-weight: 600;
    }

    .price_box_responsive #FS3{
      font-size: 10px !important;      font-weight: 600;

    }

    .price_box{
      display: none !important; 
    }

    .price_box_responsive{
      display: flex !important;
    }
    .rStar .media {
      width: 15px !important;
  }
  .left-header .SearchBar{
    display:  none !important;
  }

  .locationBox #FS3{
    font-size: 14px !important;
  }
  .sc_hideLocation{
    display: none !important;
  }
  }

@media screen and (max-width:700px) {
  .TrendingsContainer{ 
    grid-template-columns: 1fr; 
  }
  .top-img,
  .top-courosel{
    width: 100% !important;
  } 
  .SearchBar {
    display: none !important;
  }

  .SearchBar2 {
    display: inline !important;
  }
  .SearchBar2 .AutoCompleteBox{
  width: 100% !important;
  }

  .searchModelBox{
    display: inline !important;
  }
  .SearchBar{
    flex-wrap: wrap;
  
  }

  .SearchBar .location{
 display: none !important;
    }
 
  .footerLinkBox{
    width: 100% !important;
  }
 
  .catContainer{ 
    grid-template-columns: 1fr 1fr 1fr 1fr   ;   
    gap:1rem
  } 

  .cateIconBox{
    width: 100% !important; 
    border: none;
    border-radius: 12px;    aspect-ratio: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
 .catCard .shadowEffect1{
  box-shadow:none !important
 }

 .catBox{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .catCard #FS4{
  font-size: 14px !important;
 }

  .cateIcon{
    width: 70% !important;
  }

  .cd_button_box #FS3{
font-size:  0px !important;
border: solid 1px #c9c9c9;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1;display: flex;
    justify-content: center;
    align-items: center;
  }
  .cd_button_box img{
    position: absolute;
    width: 50% !important;
  }
  .cd_button_box .btn{
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;

  
      }
}
@media screen and (max-width:500px) {
  .ContentBox{
    width:100% !important ;padding: 1rem  0rem !important
  }

  .sc_cardBoxRight{  display: none !important;}
  .serviceBody{
    padding: 5px !important;
  }

  .cd_card_box{
    gap: 5px !important;
  }


  .cd_button_box img{
    position: absolute;
    width: 40% !important;
  }
  .cd_button_box #FS3{
    width: 2.5rem;
  }

  .price_box{
    width: 100%;
    top: 60%; 
  left: 0;
  background-color: #fffffffc;
  }
.serviceImgBox{
  background-color: #fffffffc;
}
  .price_box #FS6{
    font-size: 14px !important;
  }

  .price_box #FS3{
    font-size: 10px !important;
  }

  .sc_cardBoxLeft .rStar{
    display: none !important;
  }
}
@media screen and (max-width:400px) {

  .sc_linkBox{ 
    grid-template-columns: 1fr  ; 
    text-align: center;
   }

   .all_category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.all_cd_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cd_links_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catContainer{ 
  grid-template-columns: 1fr 1fr 1fr  1fr ;   
  gap:0.5rem
} 
.sp_button_box { 
  padding: 3px 3px 7px 3px ;
  gap: 0.1px;
}

.sp_button_box .btn {
  width: 26%;
  height: max-content;
  padding: 5px 3px;
}

.sp_button_box .star {
  width: 40% !important; 
}
 
.catCard #FS4{
  font-size: 12px !important;
 }
}


 