// display none unneccesary element
.ProfileComponent {
  .ant-select-arrow,
  .ant-select-selector {
    display: none !important;
  }
}
.headerProfileImg {
  width: 2.7rem !important;
  aspect-ratio: 1;
}
.ContentBox {
  width: 100% !important ;
  padding: 0.5rem !important;
  @media screen and (max-width: 500px) {
    padding: 0.5rem 0rem !important;
  }
}
// HanggingBar
.BoldText {
  font-weight: bold !important;
}
.HanggingBar {
  width: fit-content;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;

  // @media screen and (max-width: 1200px) {
  //   top: 45vw;
  // }
  // @media screen and (max-width: 900px) {
  //   top: 65vw;
  // }
  // @media screen and (max-width: 700px) {
  //   top: 80vw;
  // }
  // @media screen and (max-width: 500px) {
  //   top: 110vw;
  // }
  @media screen and (max-width: 800px) {
    display: none;
  }
  .ChatAction {
    // position: absolute;
    top: 0;
    margin: 1rem;
    // background-color: #ff7d18;
    background-color: #803c08;
    border-radius: 6px;
    // fasfa
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    // .ChatHover {
    //   display: none;
    // }
    img {
      width: 4rem;
      aspect-ratio: 1;
      padding: 1rem !important;
    }
    #FS6 {
      padding: 0 1rem !important;
    }

    // }
  }

  // .ChatAction:hover {
  //   background-color: #803c08;
  //   img {
  //     padding: 1rem !important;
  //   }
  //   #FS6 {
  //     padding: 0 1rem !important;
  //   }
  //   .ChatHover {
  //     display: inline;
  //   }
  // }
  // .MessagAction:hover {
  //   background-color: #015173;
  //   #FS6 {
  //     padding: 0 1rem !important;
  //   }
  //   img {
  //     padding: 1rem !important;
  //   }
  //   .MessagHover {
  //     display: inline;
  //   }
  // }
  .MessagAction {
    // position: absolute;
    width: fit-content;
    bottom: 0;
    margin: 1rem;
    // background-color: #0085be;
    background-color: #015173;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    // .MessagHover {
    //   display: none;
    // }
    #FS6 {
      padding: 0 1rem !important;
    }
    img {
      width: 4rem;
      aspect-ratio: 1;
      padding: 1rem !important;
    }
  }
}

.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .pageProgresssComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
  }
  .lastPageProgresssComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pageRoung {
    width: 15%;
    min-width: 2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0085be;
    border-radius: 50%;
    color: white;
    border: solid 1px #0085be;
  }
  .RemainPageRoung {
    width: 15%;
    min-width: 2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    color: #0085be;
    border: solid 1px #0085be;
  }
  .pageProressLine {
    width: 85%;
    height: 4px;
    background-color: #0085be;
  }
  .RemainPageProressLine {
    width: 85%;
    height: 4px;
    background-color: #0085be00;
  }
}

.FormicForm {
  .inputFieldBox {
    position: relative;
  }
  .commonInput {
    margin-bottom: 2rem;
  }
  .FormicError {
    position: absolute;
    bottom: -1.5rem;
    color: red;
    padding-left: 6px;
  }
}

.CommonSelect {
  position: relative;
  display: flex;
  border: solid 2px #958989;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 2.5rem;
  .selectorIcon {
    position: relative;
    top: 8px;
    cursor: pointer;
  }
  .searchInboxContainer {
    width: 100%;

    .searchInbox {
      width: 100%;
      border: none;
      text-transform: capitalize;
    }

    .autoSearchLoader {
      display: flex;
      position: absolute;
      top: 10px;
      right: 5px;
    }

    .OptionBox {
      position: absolute;
      border: solid 1px #979797;
      border-radius: 6px;
      width: 100%;
      top: 3rem;
      right: 1px;
      background-color: white;
      z-index: 7;
      max-height: 18rem;
      overflow-y: auto;

      .OptionBox_item {
        padding: 5px;
        border: solid 1px #97979742;
        cursor: pointer;
      }
    }
  }
}

.BlurElement {
  filter: blur(2px);
}
.faq_PAGE {
  .cardHeader {
    padding: 10px 1rem !important;
    cursor: pointer;
  }
  .faq_que_icon {
    margin-right: 1rem !important;
  }
}

// slider
.TrendingsSlider {
  .commonSliderBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sliderNext,
  .sliderPrev {
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
  }
  .TrendingsContainer {
    display: flex;

    flex-wrap: nowrap !important;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    gap: 1rem;
  }
  .trandCardBox {
    width: 17rem !important;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #f8f8f8 !important;
  }
  .scrollUp,
  .scrollDown {
    height: 10rem;
  }
  .sliderScroll {
    height: 25rem;
    overflow-y: scroll;
  }
}
//AnimatedSlider

.animatedSlider {
  /* Replace this color with your actual neutral-800 color */
  .bg-neutral-800 {
    background-color: #374151;
  }
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* For the other classes, follow the translations below */
  .h-48 {
    height: 12rem;
  }

  .font-semibold {
    font-weight: 600;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .bg-neutral-900 {
    background-color: #1f2937;
    /* Replace this color with your actual neutral-900 color */
  }

  .sticky {
    position: sticky;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .top-0 {
    top: 0;
  }

  .gap-4 {
    gap: 1rem; /* Adjust as needed */
  }

  .Cardgroup {
    position: relative;
    height: 450px;
    width: 450px;
  }

  .h-450px {
    height: 450px;
  }

  .w-450px {
    width: 450px;
  }

  .h-300vh {
    width: 300vh;
  }

  .bg-neutral-200 {
    background-color: #edf2f7;
    /* Replace this color with your actual neutral-200 color */
  }

  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .z-0 {
    z-index: 0;
  }

  .transition-transform {
    transition-property: transform;
  }

  .duration-300 {
    transition-duration: 300ms;
  }

  .group:hover .group-hover\:scale-110 {
    transform: scale(1.1);
  }

  .bg-gradient-to-br {
    /* Replace these colors with your gradient values */
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
  }

  .from-white\/20 {
    /* Replace this opacity value */
    background-color: rgba(255, 255, 255, 0.2);
  }

  .to-white\/0 {
    /* Replace this opacity value */
    background-color: rgba(255, 255, 255, 0);
  }

  .p-8 {
    padding: 2rem; /* Adjust as needed */
  }

  .text-6xl {
    font-size: 4rem; /* Adjust as needed */
  }

  .font-black {
    font-weight: 900;
  }

  .backdrop-blur-lg {
    backdrop-filter: blur(16px); /* Adjust as needed */
  }
}
.commonBackIcon {
  font-size: 2rem;
  margin: 1rem;
  transform: none;
  text-decoration: none;
  color: black;
}
