.ContentBox {
  width: 100% !important ;
  padding: 0.5rem !important;
  @media screen and (max-width: 500px) {
    padding: 0.5rem 0rem !important;
  }
}
// HanggingBar
.BoldText {
  font-weight: bold !important;
}
.HanggingBar {
  width: fit-content;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;

  // @media screen and (max-width: 1200px) {
  //   top: 45vw;
  // }
  // @media screen and (max-width: 900px) {
  //   top: 65vw;
  // }
  // @media screen and (max-width: 700px) {
  //   top: 80vw;
  // }
  // @media screen and (max-width: 500px) {
  //   top: 110vw;
  // }
  @media screen and (max-width: 800px) {
    display: none;
  }
  .ChatAction {
    // position: absolute;
    top: 0;
    margin: 1rem;
    // background-color: #ff7d18;
    background-color: #803c08;
    border-radius: 6px;
    // fasfa
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    // .ChatHover {
    //   display: none;
    // }
    img {
      width: 4rem;
      aspect-ratio: 1;
      padding: 1rem !important;
    }
    #FS6 {
      padding: 0 1rem !important;
    }

    // }
  }

  // .ChatAction:hover {
  //   background-color: #803c08;
  //   img {
  //     padding: 1rem !important;
  //   }
  //   #FS6 {
  //     padding: 0 1rem !important;
  //   }
  //   .ChatHover {
  //     display: inline;
  //   }
  // }
  // .MessagAction:hover {
  //   background-color: #015173;
  //   #FS6 {
  //     padding: 0 1rem !important;
  //   }
  //   img {
  //     padding: 1rem !important;
  //   }
  //   .MessagHover {
  //     display: inline;
  //   }
  // }
  .MessagAction {
    // position: absolute;
    width: fit-content;
    bottom: 0;
    margin: 1rem;
    // background-color: #0085be;
    background-color: #015173;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    // .MessagHover {
    //   display: none;
    // }
    #FS6 {
      padding: 0 1rem !important;
    }
    img {
      width: 4rem;
      aspect-ratio: 1;
      padding: 1rem !important;
    }
  }
}

.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .pageProgresssComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
  }
  .lastPageProgresssComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pageRoung {
    width: 15%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0085be;
    border-radius: 50%;
    color: white;
    border: solid 1px #0085be;
  }
  .RemainPageRoung {
    width: 15%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    color: #0085be;
    border: solid 1px #0085be;
  }
  .pageProressLine {
    width: 85%;
    height: 4px;
    background-color: #0085be;
  }
  .RemainPageProressLine {
    width: 85%;
    height: 4px;
    background-color: #0085be00;
  }
}

.FormicForm {
  .inputFieldBox {
    position: relative;
  }
  .commonInput {
    margin-bottom: 2rem;
  }
  .FormicError {
    position: absolute;
    bottom: -1.5rem;
    color: red;
    padding-left: 6px;
  }
}

.CommonSelect {
  position: relative;
  display: flex;
  border: solid 2px #958989;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 2.5rem;
  .selectorIcon {
    position: relative;
    top: 8px;
    cursor: pointer;
  }
  .searchInboxContainer {
    width: 100%;

    .searchInbox {
      width: 100%;
      border: none;
      text-transform: capitalize;
    }

    .autoSearchLoader {
      display: flex;
      position: absolute;
      top: 10px;
      right: 5px;
    }

    .OptionBox {
      position: absolute;
      border: solid 1px #979797;
      border-radius: 6px;
      width: 100%;
      top: 3rem;
      right: 1px;
      background-color: white;
      z-index: 7;
      max-height: 18rem;
      overflow-y: auto;

      .OptionBox_item {
        padding: 5px;
        border: solid 1px #97979742;
        cursor: pointer;
      }
    }
  }
}

.BlurElement {
  filter: blur(2px);
}
.faq_PAGE {
  .cardHeader {
    padding: 10px 1rem !important;
    cursor: pointer;
  }
  .faq_que_icon {
    margin-right: 1rem !important;
  }
}
