.ProfileComponent {
  position: relative !important;
  .ProfileNavbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f0ffff78;
    padding: 10px;
    .navbarButton2 {
      display: none !important;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      background-color: rgb(122 122 122 / 77%);
      width: fit-content !important;

      .navbarButton1 {
        display: none !important;
      }

      .navbarButton2 {
        display: inline !important;
        border: none !important;
      }
      .navbarButton2Hide {
        display: none !important;
      }
    }

    .p_navbar_list {
      font-size: 2rem;
      display: none;
      @media screen and (max-width: 800px) {
        display: block !important;
      }
    }
  }

  .profile_banner {
    width: 100% !important;
    aspect-ratio: 3.47 !important;
  }
}
