.ProfileComponent {
  position: relative !important;
  .card {
    // background: linear-gradient(to right, #ffffff, #7366ff);
    background: linear-gradient(to right, #ffffff, #ffffff);
  }
  .card-header {
    background-color: #0d8aa600;
  }
  .ProfileNavbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #ffffff, #ffffff);
    padding: 10px;
    .navbarButton2 {
      display: none !important;
    }

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      background: linear-gradient(to right, #ffffff, #ffffff);
      width: fit-content !important;

      .navbarButton1 {
        display: none !important;
      }

      .navbarButton2 {
        display: inline !important;
        border: none !important;
      }
    }
    .navbarButton2Hide {
      display: none !important;
    }
    .p_navbar_list {
      font-size: 2rem;
      display: none;
      @media screen and (max-width: 1000px) {
        display: block !important;
      }
    }
  }

  .profile_banner {
    width: 100% !important;
    aspect-ratio: 3.47 !important;
  }

  .MyListing {
    // border: solid #dddddd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    border-radius: 6px;
    padding: 6px;
    // background: linear-gradient(to right, #25c481, #25b7c4);
    .tableBody {
      // tr {
      //   max-height: 2rem;
      // }

      .userName {
        overflow: hidden;
        /* text-overflow: ellipsis; */
        // word-break: break-all !important;
        white-space: break-spaces !important;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Set to the number of lines you want */
        -webkit-box-orient: vertical;
        max-width: 15rem;
      }
      .userName:hover {
        -webkit-line-clamp: 2;
      }
      .active {
        // border: solid #002700;
        display: flex;
        justify-content: center;
        background-color: #267926;
        border-radius: 4px;
        color: white;
      }
      .de-active {
        // border: solid #3f0003;
        display: flex;
        justify-content: center;
        background-color: #ab0a27;
        border-radius: 4px;
        color: white;
      }
      .rating {
        display: flex;
        justify-content: center;
        background-color: #0d8aa6;
        border-radius: 4px;
        color: white;
        width: fit-content;
        padding: 0 1rem;
      }
      // .userName:hover {
      //   display: block;
      //   max-height: fit-content !important;
      //   overflow: none;
      //   text-overflow: none;
      //   word-break: break-all !important;
      //   white-space: break-spaces !important;
      // }
    }
    table {
      // background: -webkit-linear-gradient(left, #25c481, #25b7c4);

      background-color: rgba(74, 25, 25, 0);
      min-width: 46rem !important;
      overflow-y: scroll !important;

      thead,
      tbody,
      th,
      td,
      tr {
        background-color: rgba(255, 0, 0, 0);
      }
    }
    .TableAction {
      display: flex;
      gap: 1rem;
      .AiFillEye,
      .AiFillEdit,
      .AiFillDelete {
        cursor: pointer;
      }
    }
  }

  .AddListing {
    .listingCategory {
      display: flex;
      justify-content: space-between;
      max-height: 18rem;
      overflow-y: auto;
      flex-wrap: wrap;
      .checkbox {
        width: 12rem;
        display: flex;
        @media screen and (max-width: 700px) {
          width: 100%;
        }
      }
    }
    .Next {
      padding: 10px 2rem !important;
      margin-top: 1rem;
    }
    .FormHeader {
      padding: 15px !important;
    }
    .progressBar {
      padding: 1rem !important;
    }
  }
}
